.row {
    width: 75%;
    margin: auto;
    display: flex;
}
  
.column {
    flex: auto;
    padding: 5px;
    position: relative;
    min-height: fit-content;
}
}

.image{
    width: 100%;
    margin: 10px;
    position: absolute;
}

.check{
    width: 15%;
    margin: auto;
    position: absolute;
}

.hide{
    display: None;
}

  /*https://www.svgrepo.com/svg/207969/door-doorway*/