body {
    background-color:#587AA6;
}

@media screen and (orientation:portrait){
    .row {
        width: 100%;
        margin: auto;
        display: flex;

    }
    .main {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .h1{
        text-align: center;
        font-size:x-large;
        font-family:'Courier New', Courier, monospace;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }
}

@media screen and (orientation:landscape) { 
    .row {
        width: 50%;
        margin: auto;
        display: flex;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }

    .h1{
        text-align: center;
        font-family:'Courier New', Courier, monospace;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    .scores .column p{
        text-align: center;
        font-size: x-large;
    }

    .scores{
        margin-top: 0px !important ;
        margin-bottom: 0px !important ;
    }
 }
  
.column {
    flex: 33.33%;
    position: relative;
    margin: 5px;
}

.image{
    width: 100%;
}

.row button {
    font-size: medium;
    width: 100%;
    margin: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.check{
    width: 100%;
    position: absolute;
}

.hide{
    display: None;
}

.scores .column p{
    text-align: center;

}


#readme-text{
    margin-top: 2vh;
}

#readme{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: larger;
}

#footer {
    position: absolute;
    font-size: larger;
    bottom: 10px;
    right: 10px;
}

  /*https://freesvg.org/*/